@media only screen and (min-width: 375px)and (max-width:1130px){

    body{
        background-color:gray;
    }
    
    .background{
            width: 415px;
            background-size: cover;
            padding: 5px;
    }

    .background nav h2{
        display: none;
    }

    .background nav{
        padding: 5px;
    }

    nav{
        padding-right: 0;
    }

    nav ul li{
        padding: 10px 10px;
    }

    .btn-1{
        display: none;
    }

    .container-btn form{
        
    }

    .main h1{
        font-size: 45px;
    }

    .main-sobre{
        width: 400px;
    }

    .text-sobre h2{
        font-size: 45px;
    }

    .background-color-sobre{
        text-align: center;
    }

    .main-sobre{
        max-width: 100vh;
    }
    
    .background-color-sobre img{
      display: none;
    }

    .title h2{
        margin: 10px;
        width: 100%;
    }
}
